{% load i18n %}
<p>
    {% blocktranslate %}Unter folgendem Link können Sie einstellen für welche Termine Sie Benachrichtigungen erhalten:{% endblocktranslate %}
</p>
<p>
    <a href="{% url "darmstadtTermine:edit" token=token %}"
       target="_blank"
       rel="noopener noreferrer">{{ protocol }}://{{ domain }}{% url "darmstadtTermine:edit" token=token %}</a>
</p>
<p>
    <strong>{% translate "ACHTUNG: Bitte den Link kopieren und speichern! Dieser Link ist nur jetzt verfügbar!" %}</strong>
</p>
